@import url('https://fonts.googleapis.com/css?family=Taviraj');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');


body{
background-color:#F8F8FF;
font:16px/1.5 "Taviraj";
}

nav ul{
  font:25px/1.5 "Poiret One";
  list-style-type: none;
  margin: 20px;
  padding: 40px;
  overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #4682B4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.middle{
    border-top:5px dashed #222;
    height: 250px;
    padding-top: 10px;
}

a:default{
  color:#FF1493;
}
a:visited{
  color:#FF69B4;
}

a:hover{
  color:#800080;
}

#container {
  max-width:900px;
  margin: auto;
  min-width: 500px;
  cursor:crosshair;
}

h2{
  border-top:5px dashed #222;
  padding-top:15px;
}

.img1 {
  float: right;
  max-width: 200px;
  margin-left: 50px;
  border: 10px 10px 10px solid white;
}

img{
  max-width: 650px;
}

#top{
  text-align: center;
}

.pdf{
      color: #4682B4;
      font:25px/1.5 "Poiret One";
}

@media print {
  * {
    color: #000;
    background: transparent;
  }

  @page {
    margin: 0.5in;
  }

  body {
    font-size: 12pt;
  }

  a {
    color: #000;
    text-decoration: none;
  }

  p {
    margin: 0.5em 0;
  }

  section{
    margin: 0;
    padding: 0;
    border: 0;
  }

  nav,
  .no-print {
    display: none;
  }

  a[href^="http"]:after {
    content: " (" attr(href) ") ";
  }

}
